@font-face {
  src: local("../../../public/fonts/Bungeeinline/bungeeinline-regular-webfont.woff");
  font-family: "Bungee";
}
@font-face {
  src: local("../../../public/fonts/Open_sans/opensans-bold-webfont.woff");
  font-family: "OpenSansBold";
}
@font-face {
  src: local("../../../public/fonts/Open_sans/opensans-light-webfont.woff");
  font-family: "OpenSansLight";
}
@font-face {
  src: local("../../../public/fonts/Open_sans/opensans-regular-webfont.woff");
  font-family: "OpenSansRegular";
}
@font-face {
  src: local("../../../public/fonts/Roboto/roboto-light-webfont.woff");
  font-family: "RobotoLight";
}
@font-face {
  src: local("../../../public/fonts/Roboto/roboto-regular-webfont.woff");
  font-family: "RobotoRegular";
}