@import "variables";

.about_wrap {
  width: 100vw;
  height: 300px;
  text-align: center;
  padding-top: 30px;
}

.about_wrap_h2 {
  font-size: $fontSizeMainTitle;
  color: $colorBackground;
  font: $fontsOpenSans;
}

.about_wrap_p{
       font-size: $fontSizeMainText;
       color: $colorLight;
       font: $fontsOpenSans;
       padding-top: 30px;
       line-height: 30px;
       width: 85%;
       margin: 0 auto;
}

